.hero {
  background-image: url("./asssets/home.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #eae7f1;
}

@media (max-width: 400px) {
  .hero {
    background-position: center 100px;
  }
}
